.home {
  display: block;
  margin: 3rem 0;
  padding: 1rem;
    @include media-breakpoint-up(sm) {
        display: flex;
        margin: 2rem 1rem 2rem 0;
    }
  .FiestaBio {
    // width: 100%;

    @include media-breakpoint-up(sm) {
      // width: 55vw;
      padding: 2.5rem;
    }

    h1 {
      font-size: 3rem !important;
      font-weight: 600;
      color: #5b5b5b;
      @include media-breakpoint-up(sm) {
        font-size: 4rem !important;
      }
    }
    p {
      margin: 2rem 0;
      font-size: 1.5rem;
      font-weight: 500;
      color: #9d9d9d;
    }
    .getStarted {
      margin-top: 1rem;

      button {
        background-color: #fc8f00;
        border: #fc8f00;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        &:hover,
        &:focus {
          border: 1px solid #fcfcfc;
          background-color: #fc8f00;
        }
      }
    }
  }
  .heroImageSection {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}
@media only screen and (max-width: 768px) {
  .FiestaBio {
    width: 100% !important;
  }
}
