.sign-in {
  // width: 100%;
  background-color: #f9f9f9 !important;
  display: flex;
  // height: 120vh;
}
.form-section {
  padding: 0 4rem 3rem;
  background-color: #fcfcfc;
  margin: 0;
  @include media-breakpoint-down(lg) {
    padding: 0 2.5rem 3rem;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 0.5rem;
  }
  .logo-text {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.5rem;
  }
  header {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  form {
    margin-top: 1rem;
    width: 70%;
    @include media-breakpoint-down(xl) {
      width: 100%;
    }
    input {
      margin-bottom: 2rem;
      padding: 0.8rem;
    }
    .show-icon {
      position: absolute;
      right: 1rem;
      top: 0.7rem;
      z-index: 9999; /*this will keep the icon appearing all time, even when on input::focus*/
    }

    input[type="checkbox"] {
      padding: 0.2rem;
      margin-right: 1rem;
      &:focus,
      &:checked {
        background-color: #fc8f00;
      }
    }

    .form-text {
      font-size: 0.9rem;
    }
    .d-grid {
      width: 100%;
    }
    .login button {
      background-color: #fc8f00;
      border: #fc8f00;
      border-radius: 10px;
      &:hover,
      &:focus {
        border: 1px solid #fcfcfc;
        background-color: #fc8f00;
      }
    }
    .form-footer {
      display: flex;
      width: 100%;
      justify-content: center;
      a {
        color: #fc8f00;
        margin-left: 1rem;
        text-decoration: none;
      }
    }
  }
  .alternative {
    margin-top: 1rem;
    p {
      margin: auto 1rem;
    }
  }
  .social-button {
    margin: 1rem auto;

    a {
      color: #5b5b5b;
      background-color: transparent;
      border: 2px solid #eeeeee;
      svg {
        font-size: 1.6rem;
        margin-right: 0.7rem;
        color: #4267B2;
      }
    }
  }
}

.ellipse-section {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .blur {
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 40vw;
    background: rgba(245, 245, 245, 0.02);
    backdrop-filter: blur(50px);
  }
}
@media only screen and (max-width: 768px) {
  .ellipse-section {
    display: none;
  }
  .form-section {
    // width: 100%;
    padding: 0 3rem 2rem;
    form {
      width: 75%;
      margin: 0 auto;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      // height: 100vh;
      .form-footer {
        // display: block;
        text-align: center;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 0 1.3rem 3rem;
    }
  }
}
