.sign-in {
  width: 100%;
  display: flex;
  height: 100vh;
}
.form-section {
  width: 50%;
  background-color: #fcfcfc;
  padding: 2rem;
  margin: 0;
  nav {
    display: flex;
    align-items: center;
  }
  img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 0.5rem;
  }
  h4 {
    font-weight: 500;
    margin: 0;
  }
  header {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  form{
      margin-top: 1rem;
      width: 80%;
  }
  input{
      margin-bottom: 2rem;
      padding: 0.8rem;
  }
  input[type='checkbox']{
      margin-right: 1rem;
  }
  button {
    background-color: #fc8f00;
    border: #fc8f00;
    border-radius: 10px;
    &:hover{
        border: 1px solid #fcfcfc;
        background-color: #fc8f00;
    }
  }
}
.ellipse-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  .blur {
    bottom: 0px;
    position: absolute;
    height: 50%;
    width: 50%;
    background: rgba(245, 245, 245, 0.02);
    backdrop-filter: blur(50px);
  }
}
@media only screen and (max-width: 768px) {
  .ellipse-section {
    display: none;
  }
  .form-section {
      width: 100%;
  }
}
