@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import 'variables';
@import "../../node_modules/bootstrap/scss/mixins";

body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    // background-color: #fcfcfc; 
}
h1{
    font-size: 3rem;
    font-weight: 500;
}
p{
    font-size: 1.3rem;
    font-weight: 200;
}
.text {
    &-orange {
        color: $primary-color;
    }
    &-grey {
        color: $grey-color;
    }
}


@import 'login';
@import 'navbar';
@import 'findProfessional';