@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

h1 {
  font-size: 2.1rem !important;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

button {
  font-size: 1rem !important;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120vh;
}

.form-section {
  padding: 4rem;
  margin: 0;
}

.form-section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-section .logo {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.5rem;
}

.form-section .logo-text {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.5rem;
}

.form-section header {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.form-section form {
  margin-top: 1rem;
  width: 70%;
}

.form-section form input {
  margin-bottom: 2rem;
  padding: 0.8rem;
}

.form-section form input[type="checkbox"] {
  padding: 0.2;
  margin-right: 1rem;
}

.form-section form input[type="checkbox"]:focus, .form-section form input[type="checkbox"]:checked {
  background-color: #fc8f00;
}

.form-section form .d-grid {
  width: 100%;
}

.form-section form .login button {
  background-color: #fc8f00;
  border: #fc8f00;
  border-radius: 10px;
}

.form-section form .login button:hover, .form-section form .login button:focus {
  border: 1px solid #fcfcfc;
  background-color: #fc8f00;
}

.form-section form .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-section form .form-footer a {
  color: #fc8f00;
  margin-left: 1rem;
  text-decoration: none;
}

.form-section .alternative {
  margin-top: 1rem;
}

.form-section .alternative p {
  margin: auto 1rem;
}

.form-section .social-button {
  margin: 1rem auto;
}

.form-section .social-button button {
  color: #5b5b5b;
  background-color: transparent;
  border: 2px solid #eeeeee;
}

.form-section .social-button button svg {
  font-size: 1.6rem;
  margin-right: 0.7rem;
  color: #c13584;
}

.ellipse-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
}

.ellipse-section .blur {
  position: absolute;
  bottom: 0;
  height: 40vh;
  width: 40vw;
  background: rgba(245, 245, 245, 0.02);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

@media only screen and (max-width: 768px) {
  .ellipse-section {
    display: none;
  }
  .form-section {
    padding: 3rem;
  }
  .form-section form {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */