@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import 'variables';
@import "../../node_modules/bootstrap/scss/mixins";

body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    // background-color: #fcfcfc; 
}
h1{
    font-size: 2.1rem !important;
}
p{
    font-size: 1rem;
    font-weight: 300;
}

button{
    font-size: 1rem !important; 
}
.text {
    &-orange {
        color: $primary-color;
    }
    &-grey {
        color: $grey-color;
    }
}

@import 'home';
@import 'login';
@import 'navbar';
@import 'footer';
@import 'findProfessional';